<div class="terms-conditions">
    <h1>Términos y Condiciones</h1>
    <p>
        Estimado cliente y/o usuario, le recomendamos leer detenidamente el presente documento. 
        Al navegar en nuestro sitio web o realizar la compra de cualquiera de nuestros productos a través de este medio, 
        usted acepta de manera plena y sin reservas los términos y condiciones que se detallan a continuación.
    </p>

    <h2>LAS PARTES</h2>
    <p>
        DentalMoovi S.A.S. asume, de buena fe, que está realizando la contratación directamente con el cliente o 
        con su representante legal debidamente autorizado para realizar dichas transacciones. En consecuencia, 
        DentalMoovi S.A.S. no se hará responsable por cualquier acto de suplantación de identidad cometido por 
        los clientes o usuarios.
    </p>
    <p>
        PRIMER PÁRRAFO: Para realizar cualquier compra, es necesario que el usuario se registre proporcionando 
        información verídica, se identifique y acceda a la página web mediante una cuenta de correo electrónico y 
        una contraseña personal. Esta contraseña es estrictamente confidencial, intransferible, y su custodia y 
        uso son responsabilidad exclusiva del cliente.
    </p>
    <p>
        SEGUNDO PÁRRAFO: El cliente es completamente responsable del manejo de su contraseña, la cual no debe ser 
        compartida ni divulgada a terceros en ninguna circunstancia. Además, el cliente debe implementar medidas 
        adecuadas para proteger la contraseña y evitar su uso indebido por terceros. Se aconseja cambiar la contraseña 
        de forma regular.
    </p>
    <p>
        {{"TERCER PÁRRAFO: En caso de enfrentar problemas que no pueda resolver, el cliente debe enviar un correo a: ventas@dentalmoovi.com."}}
    </p>

    <h2>ACTIVIDAD</h2>

    <p>
        DentalMoovi S.A.S. proporcionará a los clientes las referencias disponibles para su compra, 
        mostrando los productos de manera precisa. Sin embargo, es posible que los modelos cambien según el fabricante. 
        Se recomienda a los clientes que revisen detalladamente el producto antes de finalizar la compra. 
        DentalMoovi S.A.S. no se hará responsable por cambios solicitados debido a errores en la selección de productos 
        o empaques.
    </p>

    <h2>ACEPTACIÓN DE LOS TÉRMINOS</h2>
    <p>
        Al acceder o utilizar este sitio web, el usuario reconoce haber leído y comprendido estos Términos de Uso, 
        y acepta cumplir con ellos y con todas las leyes y regulaciones aplicables bajo la legislación de Colombia. 
        Además, al usar cualquier servicio ofrecido en este sitio, el usuario se regirá por las reglas, políticas y 
        condiciones específicas de cada servicio. Dental Moovi S.A.S. no garantiza que el contenido de este sitio sea 
        adecuado o disponible en otras jurisdicciones, y queda prohibido su acceso desde territorios donde su uso sea ilegal.
    </p>
    <p>
        Si el usuario decide acceder a este sitio desde otro país, lo hará por su propia cuenta y es responsable de cumplir 
        con las leyes locales aplicables. Si no está de acuerdo con estos términos, le pedimos que no utilice este sitio. 
        Cualquier disputa relacionada con este sitio y su contenido estará regida por las leyes colombianas. Estos términos 
        y condiciones pueden modificarse sin previo aviso en cualquier momento, y a partir de esa modificación, todas las 
        interacciones entre Dental Moovi S.A.S. y el usuario se regirán por los términos actualizados.
    </p>

    <h2>DISPOSICIONES</h2>
    <p>
        Si alguna de las disposiciones de estos Términos y Condiciones se considera inválida, ilegal o inaplicable en algún 
        aspecto, dicha circunstancia no afectará la validez, legalidad o aplicabilidad de las demás disposiciones incluidas 
        en este documento, las cuales seguirán en pleno vigor.
    </p>

    <h2>REVISIÓN DE LOS TÉRMINOS</h2>
    <p>
        Dental Moovi S.A.S. se reserva el derecho de modificar en cualquier momento estos Términos de Uso mediante la 
        actualización de este aviso. Al utilizar www.dentalmoovi.com, el usuario acepta estar sujeto a dichas revisiones, 
        que serán aplicables desde el momento en que estén disponibles para los usuarios. Por ello, se recomienda visitar 
        esta página de manera periódica para conocer los términos vigentes en ese momento, a los cuales el usuario deberá 
        adherirse si decide continuar utilizando el sitio.
    </p>

    <h2>PRECIOS</h2>
    <p>
        El valor total de la compra incluirá los siguientes conceptos a cargo del cliente: precio del producto, impuestos 
        aplicables y, en caso necesario, los costos de transporte.
    </p>
    <p>
        PARÁGRAFO PRIMERO: Dental Moovi S.A.S. se compromete a revisar y actualizar constantemente los precios publicados 
        en el sitio web, mientras que el cliente y/o usuario deberá estar atento a posibles variaciones.
    </p>
    <p>
        PARÁGRAFO SEGUNDO: Dental Moovi S.A.S. notificará o publicará las tarifas de transporte aplicables, las cuales 
        dependerán de los costos, cargos y políticas de la empresa transportadora, que opera de manera independiente a 
        Dental Moovi S.A.S. El costo del envío considerará el destino dentro del territorio colombiano, así como el tamaño 
        y peso de los productos adquiridos.
    </p>

    <h2>CONDICIONES DE PAGO</h2>
    <p>
        El pago se realizará exclusivamente a través de los siguientes métodos:
    </p>
    <ul>
        <li>Bancolombia</li>
        <li>Nequi</li>
        <li>Davivienda</li>
        <li>Daviplata</li>
    </ul>
    <p>
        PARÁGRAFO: En lugar de realizar una compra directa, el cliente deberá generar una solicitud con los productos 
        seleccionados a través del sitio web. Posteriormente, Dental Moovi S.A.S. se pondrá en contacto con el cliente 
        para confirmar los detalles de la compra y acordar el método de pago. Aunque Dental Moovi S.A.S. proporciona un 
        sistema seguro para la gestión de estas solicitudes, no será responsable por fallos en las comunicaciones con 
        entidades bancarias o de crédito, ni por los inconvenientes que puedan surgir como consecuencia de acciones u 
        omisiones de dichas entidades.
    </p>
    
    <h2>DERECHO DE RETRACTO</h2>
    <p>
        El cliente deberá devolver el producto a Dental Moovi S.A.S. utilizando los mismos medios y en las mismas condiciones 
        en las que lo recibió. Los costos de transporte y cualquier otro gasto relacionado con la devolución del producto 
        correrán por cuenta del cliente. El plazo máximo para ejercer el derecho de retracto será de cinco (5) días hábiles 
        contados a partir de la entrega del producto.
    </p>
    <p>
        Dental Moovi S.A.S. reembolsará al cliente todas las sumas pagadas sin aplicar descuentos o retenciones de ningún tipo. 
        El reembolso del dinero al cliente se efectuará en un plazo no mayor a treinta (30) días calendario desde el momento en 
        que se ejerció el derecho de retracto.
    </p>

    <h2>REMISIÓN DE LOS PRODUCTOS</h2>
    <p>
        El envío de los productos se realizará exclusivamente dentro del territorio colombiano a través de servicio de correo, 
        con un plazo máximo de ocho (8) días hábiles desde la aceptación de la oferta, siempre que no ocurra ningún evento de 
        fuerza mayor o caso fortuito. Entre estos eventos se incluyen, a modo de ejemplo, hechos naturales o humanos como 
        huelgas, paros, revoluciones, rebeliones, atentados, cortes de servicios básicos, derrumbes, terremotos, avalanchas, 
        desbordamientos de ríos, caídas de puentes, entre otros.
    </p>
    <p>
        PARÁGRAFO: La entrega se efectuará en la dirección proporcionada por el cliente en la oferta elaborada en el 
        formato correspondiente. Esta dirección puede ser el lugar de residencia del comprador o cualquier otra que el cliente 
        designe. Se considera que cualquier persona presente en el domicilio de entrega está autorizada por el cliente para 
        recibir el pedido. Dental Moovi S.A.S. no asumirá responsabilidad por problemas durante la entrega siempre que se 
        realice en la dirección registrada en el sitio web. Es responsabilidad del cliente proporcionar datos de envío 
        precisos, claros y actualizados.
    </p>

    <h2>TRANSMISIÓN DE LA PROPIEDAD</h2>
    <p>
        La transmisión de la propiedad del producto se efectúa en el momento en que Dental Moovi S.A.S. entrega el bien a la 
        empresa transportadora para su envío al cliente o a la persona designada por este.
    </p>
    <p>
        PARÁGRAFO PRIMERO: Sin embargo, el cliente o destinatario debe abstenerse de aceptar el producto de inmediato si 
        observa daños, rupturas, aberturas u otras irregularidades en el empaque o embalaje. En tal caso, se debe dejar 
        constancia de los daños o problemas detectados.
    </p>

    <h2>RESPONSABILIDAD LIMITADA</h2>
    <p>
        A pesar de lo que establecen las normas imperativas de la legislación colombiana aplicable, Dental Moovi S.A.S. no 
        se responsabiliza por ningún daño o perjuicio, incluyendo pero no limitándose a la pérdida de datos o beneficios, 
        la presencia de virus, los resultados del uso o la imposibilidad de utilizar el contenido de este sitio, oportunidades 
        comerciales perdidas, o cualquier otro daño. Esto es así incluso si el usuario ha sido informado de la posibilidad de 
        tales daños, o de cualquier reclamación de terceros, excepto lo que se indique explícitamente en este documento.
    </p>
    <p>
        Según los términos descritos, Dental Moovi S.A.S. no asume responsabilidad por la información disponible en el sitio, 
        que incluye detalles sobre productos y servicios, notas de interés, opiniones, recomendaciones prácticas y respuestas 
        a consultas. Tampoco se hace responsable de la imposibilidad o problemas en el uso del sitio o de sus páginas, 
        incluyendo pero no limitándose a problemas con el servidor, interrupciones en la conexión o fallos técnicos.
    </p>
    <p>
        En el caso de que el uso del material en este sitio lleve a la necesidad de reparación o corrección de equipos o 
        información, el usuario será responsable de los costos asociados. Los productos disponibles en nuestra página web 
        no están destinados para aplicaciones en equipos de supervivencia, diagnóstico o tratamiento de enfermedades, 
        ni para aplicaciones militares. El cliente acepta la responsabilidad por el uso de estos productos en dichas 
        aplicaciones y las posibles consecuencias.
    </p>

    <h2>ORIGEN DE LOS FONDOS</h2>
    <p>
        El cliente declara bajo juramento y confirma que:
    </p>
    <ul>
        <li>
            Los recursos utilizados para solicitar la cotización provienen de actividades legales, tales como operación, 
            oficio, profesión o negocio lícito.
        </li>
        <li>
            Los fondos empleados en la solicitud de cotización no se han originado a partir de conductas que sean 
            consideradas como infracción penal según la legislación colombiana.
        </li>
        <li>
            No ha permitido que otras personas utilicen mis cuentas o tarjetas de crédito o débito para gestionar fondos 
            cuyo origen desconozco o que provengan de actividades ilegales, especialmente en lo que respecta a la normativa 
            penal.
        </li>
        <li>
            Libero a Dental Moovi S.A.S. de cualquier responsabilidad en caso de que la información proporcionada en este 
            documento sea incorrecta, falsa o inexacta, así como por cualquier infracción relacionada, asumiendo yo la 
            totalidad de la responsabilidad en tales casos.
        </li>
    </ul>

</div>
