<div class="all-page">
    <div class="who-are-we">
        <h1>Quiénes Somos</h1>
        <p>
            En Dental Moovi, somos un equipo comprometido con el éxito de los profesionales de la odontología 
            y laboratorios dentales. Nos especializamos en la provisión de insumos y equipos de alta calidad, 
            seleccionando cuidadosamente productos innovadores y confiables que faciliten el trabajo diario de 
            nuestros clientes.
        </p>

        <p>
            Nos impulsa la pasión por contribuir al desarrollo y crecimiento de las prácticas odontológicas, 
            ofreciendo no solo productos, sino también soluciones efectivas que se adaptan a las necesidades 
            específicas de cada cliente. Nuestro enfoque está en proporcionar una atención excepcional y 
            un servicio eficiente, asegurando que cada interacción con Dental Moovi supere las expectativas.
        </p>
    </div>
    <div class="mission-vision">
        <div class="mission">
            <h2 style="color: #02a1ff;">Misión</h2>
            <p>
                Nuestra misión es proporcionar a los profesionales de la odontología y 
                laboratorios dentales los mejores insumos y equipos de calidad. Nos dedicamos a ofrecer 
                una amplia gama de productos innovadores y confiables, garantizando soluciones efectivas 
                para satisfacer las necesidades de nuestros clientes. Nuestro compromiso es asegurar una 
                atención excepcional y un servicio eficiente, contribuyendo al éxito y desarrollo de sus 
                prácticas y negocios.
            </p>
        </div>
        <div class="vision">
            <h2 style="color: #1cd1e2;">Visión</h2>
            <p>
                Nuestra visión es ser el líder de confianza en la distribución de insumos para la odontología 
                y laboratorios dentales en el mercado. Aspiramos a expandir nuestra presencia y alcanzar 
                nuevos mercados, estableciendo alianzas estratégicas con los fabricantes más prestigiosos. 
                Nos esforzamos por innovar continuamente, ofreciendo productos de vanguardia que mejoren la 
                eficiencia y calidad de los servicios dentales. Queremos ser reconocidos por nuestra 
                integridad, excelencia y dedicación al progreso del sector odontológico.
            </p>
        </div>
    </div>
</div>
