<div class="data-policy">
    <div class="title">
        <h1>Política de Tratamiento de Datos Personales</h1>
        <p>
            Nosotros, Dental Moovi, nos comprometemos a utilizar los datos personales de nuestros 
            usuarios única y exclusivamente para los siguientes fines:
        </p>
    </div>

    <div class="info">
        <div class="shopping">
            <h2 style="color: #02a1ff;">Venta de productos</h2>
            <p>
                Utilizaremos sus datos para procesar, gestionar, y enviar los productos adquiridos 
                a través de nuestra plataforma.
            </p>
            <img src="assets/images/compras.png" alt="ventas de productos">
        </div>
        <div class="quotes">
            <h2 style="color: #1cd1e2;">Cotizaciones</h2>
            <p>
                Los datos serán utilizados para generar y enviar cotizaciones de productos solicitados 
                por los usuarios.
            </p>
            <img src="assets/images/cotizacion.jpg" alt="ventas de productos">
        </div>
    </div>

    <div class="info security">
        <div>
            <h2>Garantías de Seguridad</h2>
            <p>
                Nos comprometemos a no divulgar, vender, ni compartir los datos personales con terceros 
                o personal no autorizado, salvo en los casos que sean estrictamente necesarios para 
                cumplir con los fines antes mencionados o cuando lo exija la ley.
            </p>
        </div>
        <div>
            <h2>Confidencialidad</h2>
            <p>
                Dental Moovi garantiza la seguridad de los datos personales, implementando medidas 
                técnicas y organizativas adecuadas para protegerlos contra el acceso, alteración, 
                divulgación o destrucción no autorizados.
            </p>
        </div>
        <div>
            <h2>Derechos del Usuario</h2>
            <p>
                En cualquier momento, los usuarios podrán ejercer sus derechos de acceso, rectificación, 
                cancelación y oposición sobre sus datos personales, conforme a la Ley 1581 de 2012. 
                Para ello, pueden contactar con nosotros a través de los canales dispuestos en nuestra 
                plataforma.
            </p>
        </div>
    </div>
</div>
