<div class="all-page">
    <h2> {{isEdit ? 'EDITAR DOMICILIO' : 'AGREGAR DOMICILIO'}}</h2>
    <h3 class="notice updated" *ngIf="isUpdated && !isEdit">
        {{isEdit ? 'Domicilio agregado con exito.': 'Domicilio actualizado con exito.'}}
    </h3>
    <h3 class="notice add" *ngIf="addressNotice"> Proporciona una dirección de entrega para que podamos enviar tu pedido</h3>
    <form (ngSubmit)="send()" [formGroup]="addressFormGroup">
    
        <div class="names">

            <app-autocomplete-field 
            class="fields"
            [label]="'Departamento'"
            [options]="departamens"
            (sendSearch)="searchDepartaments($event)"
            (sendOption)="setDepartament($event)"
            [fieldText]="this.addressFormGroup.get('departament')!.value!"
            ></app-autocomplete-field>

            <app-autocomplete-field
            class="fields"
            [label]="'Municipio, capital o localidad'"
            [options]="municipalies"
            (sendSearch)="searchMunicipalies($event)"
            (sendOption)="setMunicipaly($event)"
            [disabled]="idDepartament == 0"
            [disabledLabel]="'Municipio, capital o localidad'"
            [fieldText]="this.addressFormGroup.get('location')!.value!"
            ></app-autocomplete-field>
        </div>
        
        <mat-form-field>
            <mat-label >Dirección</mat-label>
            <input matInput formControlName="address">
            <mat-error *ngIf="addressFormGroup.get('address')?.errors?.['required']">Por favor ingresa la dirección</mat-error>
        </mat-form-field>

        <app-cel-phone-field [formCelphone]="addressFormGroup.controls.phone"></app-cel-phone-field>

        <mat-form-field>
            <mat-label>Descripción, referencias, indicaciones, etc. (Ej: torre x, apart y)</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        
        <button type="submit" mat-raised-button color="primary" [disabled]="addressFormGroup.invalid">
            {{isEdit ? 'Actualizar domicilio' : 'Crear domicilio'}}
        </button>
    </form>
</div>
