.all-page{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0px;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    form{
        height: 90%;
        display: flex;
        flex-direction: column;
        width: 550px;
        .names{
            display: flex;
            align-items: center;
            justify-content: space-between;
            app-names-field {
                width: 48%;
                height: auto;
            }
        }
        .birth-gender{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            app-date-field{
                width: 56%;
            }
        }
        .celphone-password{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            app-cel-phone-field{
                width: 38%;
            }
            app-password-field{
                width: 58%;
            }
        }

        .signup-button{
            margin-bottom: 10px;
            background-color: #a83fe1;
            font-weight: bolder;
            &:hover{
                background-color: #8632b3;
            }

            &:disabled {
                background-color: #ccc; 
                cursor: not-allowed;
            }
        }
    }
    
}

.registerOK{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

