<form class="content-component" (ngSubmit)="purchase()">
    <div class="users-part parts">
        <h2>Elige el usuario</h2>
        <div class="fields">
            <label (click)="searchAddresses(user.idUser!)" 
            (keydown)="handleKeydown($event, user.idUser!)"
            *ngFor="let user of users; let i = index" class="field-box">
                <div class="input-box">
                    <input
                    tabindex="0" type="radio" name="user" 
                    [value]="user.idUser" [(ngModel)]="selectedUserId">
                </div>
                <div class="field-info">
                    <div class="icon">
                        <i class="material-icons">person</i>
                    </div>
                    <div class="option-info">
                        <h2>{{ user.firstName }}</h2>
                        <p>{{ user.lastName }}</p>
                    </div>
                </div>
                <a [href]="'/settings/userInfo/'+user.idUser">
                    <i class="material-icons">edit</i>
                </a>

            </label>
            <a class="setting" href="/signup">
                <div class="icon">
                    <i class="material-icons">add_circle</i>
                </div>
                <div class="option-info">
                    <h2>Añadir usuario</h2>
                    <p>Añade un nuevo cliente</p>
                </div>
            </a>
        </div>
    </div>
    <div class="addresses-part parts">
        <h3 class="address-advice advice" *ngIf="selectNotice">Por favor selecciona una dirección para enviar el pedido</h3>
        <h3 class="address-advice advice" *ngIf="notProducts">No hay productos en el carro para la cotización</h3>
        <h3 class="order-complete advice" *ngIf="complete">Pedido solicitado con exito.</h3>
        <h2>Elige la dirección de envió</h2>
        <div class="fields">
            <label *ngFor="let address of addresses; let i = index" class="field-box">
                <div class="input-box">
                    <input type="radio" name="address" [value]="address.id" [(ngModel)]="selectedAddressId">
                </div>
                <div class="field-info">
                    <div class="icon">
                        <i class="material-icons">location_on</i>
                    </div>
                    <div class="option-info">
                        <h2>{{ address.address }}</h2>
                        <p>{{ address.departament+" "+address.location }}</p>
                    </div>
                </div>
                <div>   
                    <a [href]="'/settings/addresses/0/'+address.id">
                        <i class="material-icons">edit</i>
                    </a>
                </div>
                
            </label>
            <a class="setting" *ngIf="selectedUserId != ''" [href]="'/settings/addresses/'+selectedUserId+'/0'">
                <div class="icon">
                    <i class="material-icons">add_circle</i>
                </div>
                <div class="option-info">
                    <h2>Añadir dirección al usuario</h2>
                    <p>Añadir nueva dirección al usuario seleccionado</p>
                </div>
            </a>
        </div>
    </div>
    <div class="details-part">
        <div class="purchases">
            <h2 class="summarize-title" style="color: #2e53fe;">
                Resumen de compra
            </h2>
            <div class="purchase-summarize">
                <div class="amount-purchases">
                    Pagas {{" "+ cartSer.cartResponse.amountOfProducts}} articulos
                </div>
                <div class="total-purchases">
                    {{ cartSer.cartResponse.total | currency:'':'symbol':'1.0-0' }}
                </div>
            </div>
        </div>
        <a class="fields notices" href="">
            <i class="material-icons">admin_panel_settings</i> Políticas de privacidad
        </a>
        <a class="fields notices" href="">
            <i class="material-icons">local_shipping</i> Políticas de envío
        </a>
        <a class="fields notices" href="">
            <i class="material-icons">production_quantity_limits</i> Garantía del producto
        </a>
        
        <button 
            type="submit" 
            class="fields" 
            mat-raised-button color="primary" 
            style="margin-top: 10px;" 
            [disabled]="complete || cartSer.cartResponse.amountOfProducts == 0">Comprar</button>
    </div>
</form>
