.all-page{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0px;
    height: auto;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    form{
        display: flex;
        flex-direction: column;
        width: 550px;

        .login-button{
            margin-bottom: 10px;
            background-color: #a83fe1;
            font-weight: bolder;
            &:hover{
                background-color: #8632b3;
            }
        }
    }

    .notice{
        height: 40px;
        width: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 10px;
    }

    .authError{
        background-color: red;
    }

    .registration{
        background-color: green;
    }

    .shopping{
        background-color:darkgoldenrod;
    }

    .registration-button{
        width: 550px;
        height: 50px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items:flex-end;
        border-top: 1px solid rgb(209, 208, 208);
        a{
            background-color: #2e54fe;
            text-decoration: none;
            width: 500px;
            height: 35px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: medium;
            font-weight: bold;
            color: white;
            &:hover{
                background-color: #02a1ff;
            }
        }
    }
}

.showOK{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}