<mat-form-field>
    <mat-label>Ingrese la contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="formPassword">
    <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <mat-error *ngIf="formPassword.errors?.['required']; else regularExpression">Por favor ingresa una contraseña</mat-error>
    <ng-template #regularExpression>
        <mat-error *ngIf="formPassword.errors?.['minlength']; else incomplete">La contraseña debe tener almenos 5 caracteres</mat-error>
    </ng-template>
    <ng-template #incomplete>
        <mat-error *ngIf="formPassword.errors?.['pattern']">La contraseña debe contener numeros y letras</mat-error>
    </ng-template>
</mat-form-field>