<div class="products-section">
    <div class="products">
        <a *ngIf="isAdmin && isInCategory" class="product addProduct" href="/product/0">
            <div *ngIf="!edit">
                <i class="material-icons">add</i> Nuevo producto
            </div>
        </a>
        <div *ngFor="let product of products" class="product animation" [ngClass]="{'hiddenProduct': product.hidden != null}">
            <a class="product-img" [href]="'/product/'+product.id"  >
                <img *ngIf="product.images.length == 0" src="assets/images/productWithoutImage.png" alt="">
                <img *ngIf="product.images.length > 0" [src]="'data:image/'+product.images[0].contentType+';base64,'+product.images[0].imageBase64" alt="">
            </a>
            <a class="product-name" [href]="'/product/'+product.id">
                {{ product.nameProduct }}
            </a>
            <a *ngIf="!isAdmin" class="product-description" [href]="'/product/'+product.id">
                <p>{{ product.shortDescription}}</p>
            </a>
            <div class="product-description" *ngIf="isAdmin">
                <p *ngIf="!edit || productEdit != product.nameProduct">{{ product.shortDescription}}</p>
                <textarea *ngIf="edit && productEdit == product.nameProduct" type="text" [(ngModel)]="textEdit"></textarea>
                <div>
                    <button *ngIf="!edit" (click)="editProductInformation(product.shortDescription, product.nameProduct)" class="editOptions">
                        <i class="material-icons">edit</i>
                    </button>
                    <button *ngIf="edit && productEdit == product.nameProduct" (click)="updateProductInformation(product.id)" class="editOptions" style="background: green;">
                        <i class="material-icons">done</i>
                    </button>
                    <button *ngIf="edit && productEdit == product.nameProduct" (click)="editProductInformation(product.shortDescription, product.nameProduct)" class="editOptions" style="background: red;">
                        <i class="material-icons">cancel</i>
                    </button>
                </div>
            </div>
            <a class="product-price" [href]="'/product/'+product.id">
                {{ product.unitPrice == 0 && !isAdmin ? "" : '$'+product.unitPrice.toLocaleString()}}
            </a>
            <a class="product-stock" [href]="'/product/'+product.id">
                <span *ngIf="product.stock>0" style="color: green;">{{'Hay '+ product.stock+' disponibles'}}</span>
                <span *ngIf="product.stock<=0" style="color: red;">No hay unidades disponibles</span>
            </a>
            <div class="product-add-cart">
                <input type="number" min="1" [max]="product.stock" step="1" value="1" #amount>
                <button class="material-icons" (click)="addToCart(product.id, product.unitPrice, amount.value)">add_shopping_cart</button>
            </div>
        </div>
    </div>
    <div class="pagination" *ngIf="totalPages > 1">
        <button (click)="prevPage()" *ngIf="currentPage > 1">{{'<'}}</button>
        <button *ngFor="let page of pages; let i = index" 
            [ngClass]="{ 'current-page': currentPage === i + 1 }"
            (click)="changePage(i + 1)" [disabled]="currentPage === i + 1">
            {{ i + 1 }}
        </button>
        <button (click)="nextPage()" *ngIf="(currentPage) != totalPages">{{'>'}}</button>
    </div>
</div>

