.all-footer{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.90);

    .containers{
        width: 90%;
        margin: 0 5%;
    }

    .footer-info{
        height: auto;
        display: flex;
        justify-content:space-between;
        align-items: top;
        font-family: 'Roboto', sans-serif;

        .seccions{
            width: 30%;
            color: white;

            a{
                text-decoration: none;
                color: white;
            }

            ul{
                list-style-type: none;
                padding-left: 0;
                li{
                    padding-bottom: 10px;
                }
            }

            .title{
                font-size: large;
                font-weight: bolder;
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 2px solid #c776f3;
            }
        }

        .info{
            text-align: right;
        }

        .contact{
            
            text-align: center;

            .title{
                margin-bottom: 15px;
            }
            
            .image-container{
                img{
                    width: 100%;
                }
            }
        }

        .schedule{
            text-align: left;
        }
    }

    .payment-methods{
        border-bottom: 2px solid #c776f3;
        ul{
            list-style-type: none;
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            align-items: space-around;

            .payment-images{
                width: 200px; 
                background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                    
                }
                
            }
        }
    }

    .final-info{
        margin-top: 10px;
        height: auto;
        display: flex;
        justify-content: space-between;
        .final-logo{
            display: flex;
            flex-direction: column;
            width: 100%;
            .image-container{
                width: 95%;
                img{
                    width: 100%;
                    border-radius: 10px;
                }
            }
            
            .info{
                color: white;
            }
        }
    }
}