<div class="all-footer">
    <div class="footer-info containers">
        <div class="info seccions">
            <div class="title">
                Información
            </div>
            <ul class="content">
                <li>
                    <a href="/whoAreWe">Quienes somos</a>
                </li>
                <li>
                    <a href="">Envíos</a>
                </li>
                <li>
                    <a href="">Devoluciones</a>
                </li>
                <li>
                    <a href="/termsConditions">Términos y condiciones</a>
                </li>
                <li>
                    <a href="/dataPolicy">Política de tratamiento de datos</a>
                </li>
            </ul>
        </div>
        <div class="contact seccions">
            <div class="title">
                Ubicación
            </div>
            <a class="image-container" 
                target="_blank"
                href="https://www.google.com/maps/place/Dental+Moovi/@4.7435868,-74.0976064,17z/data=!3m1!4b1!4m6!3m5!1s0x8e3f85d246ba4a25:0x7dfc6ec87b67bf5e!8m2!3d4.7435868!4d-74.0976064!16s%2Fg%2F11p5c8_j9v?entry=ttu">
                <img src="/assets/images/Ubicacion_dental2.png" alt="">
            </a> 
        </div>
        <div class="schedule seccions">
            <div class="title">
                Horarios y contacto
            </div>
            <ul class="content">
                <li>
                    <span style="font-weight: bold;">Cel:</span>
                    314 453 6435
                </li>
                <li>
                    <span style="font-weight: bold;">Dias: </span>
                    Lunes a sabado
                </li>
                <li>
                    <span style="font-weight: bold;">Horario: </span>
                    Desde las 8:00AM hasta las 6:00PM Entre semana y sabados hasta las 2:00PM
                </li>
                <li>
                    Domingos y festivos no hay atención al publico
                </li>
            </ul>
        </div>
    </div>
    <div class="payment-methods containers">
        <ul>
            <li class="payment-images">
                <img src="/assets/images/Bancolombia.png" alt="">
            </li>
            <li class="payment-images">
                <img src="/assets/images/nequi.png" alt="">
            </li>
            <li class="payment-images">
                <img src="/assets/images/daviplata.png" alt="">
            </li>
            <li class="payment-images">
                <img src="/assets/images/davivienda.png" alt="">
            </li>
        </ul>
    </div>
    <div class="final-info containers">
        <div class="final-logo">
            <div class="image-container">
                <img src="/assets/images/logo2Dentalmoovi-transparent.png" alt="">
            </div>
            <div class="info">
                © 2024 Dental Moovi SAS. Todos los derechos reservados.
            </div>
        </div>


        <app-linked-in-badge></app-linked-in-badge>

    </div>
</div>
